html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f5f5f5;
}

/* Header */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  flex-wrap: wrap;
}

.logo {
  width: 200px;
  height: auto;
}

nav a {
  position: relative;
  color: white;
  text-decoration: none;
  margin: 0 15px;
  padding-bottom: 3px;
  transition: color 0.3s ease;
}

nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #c3d612;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}



/* Strips */
.strip-light {
  width: 100%;
  height: 20px;
  background-color: #fafafa;
}
.strip-dark {
  width: 100%;
  height: 30px;
  background-color: #555;
}

/* Hero Section */
.hero {
  position: relative;
  background: url("GLASS1.jpg") no-repeat center center/cover;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #000;
  text-align: center;
}
.hero h1 {
  font-size: 4.5rem;
  font-weight: 1000;
  margin: 0;
}

/* About Section */
#about {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 60px 20px;
  gap: 20px;
  background-color: #b6def6;
}
.about-text {
  flex: 1;
  font-size: 18px;
  text-align: justify;
  border: 1px solid #0e0d0d;
  padding: 50px;
  border-radius: 10px;
  background-color: #95b0c7;
}
.about-text p {
  font-size: 20px;
  margin-bottom: 15px;
}
.why-choose {
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #fffdfd;
}
.why-choose h2 {
  margin-bottom: 15px;
  text-align: center;
}
.why-choose ul {
  font-size: 18px;
  line-height: 1.8;
  padding-left: 0;
  list-style: none;
}
.logo-below {
  margin-top: 20px;
  text-align: center;
}
.logo-below img {
  max-width: 300px;
  height: auto;
}

/* Right-side image */
.about-imgs {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.about-imgs img {
  max-width: 60%;
  height: auto;
  border-radius: 8px;
}

/* Footer */
footer {
  background: #333;
  color: white;
  font-size: 0.85rem;
  text-align: center;
  padding: 5px;
}
footer a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
  
}
footer a:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
  #about {
    flex-direction: column;
    text-align: center;
  }
  .about-text {
    text-align: justify;
  }
}
